.logo {
  border-radius: 50px;
  width: 50px;
}
.logo:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
Link {
  text-decoration: none;
}

#navbar-header-style {
  color: #091945;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.navbar-header-style-center {
  color: #091945;
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 70%;
}

.languages-toggle-lr {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #f0f0f0;
  width: 15%;
}

#langButton {
  margin: 0 15px;
}
.navbar-items {
  font-weight: medium;
}
